.hero {
  display: flex;
  flex-direction: column;
  margin-top: 134px;
  position: relative;
  margin-bottom: 194px;

  &::before,
  &::after {
    content: "";
    display: block;
    position: absolute;
  }
  &::after {
    width: 1090px;
    height: 700px;
    border-radius: 0px 20px 20px 0px;
    opacity: 0.05;
    background: var(--c-background-logo);
    top: -150px;
    left: -300px;
    z-index: -1;
  }

  &::before {
    width: 590px;
    height: 360px;
    border-radius: 20px 0px 0px 20px;
    background: var(--c-text-color1);
    box-shadow: 0px 32px 44px 0px #818a8c;
    left: 590px;
  }

  &__title {
    max-width: 537px;
    color: var(--c-text-color1);
    font: var(--Mon-7-60);
    line-height: 68px;
    letter-spacing: -1px;
    margin-bottom: 20px;
  }
  &__desc {
    max-width: 560px;
    color: var(--c-text-color2);
    font: var(--Mul-4-20);
    line-height: 30px;
    margin-bottom: 40px;
  }
  &__btn {
    display: flex;
    color: var(--c-text-white);
    font: var(--Mul-7-20);
    margin-bottom: 100px;
  }
  .btn {
    padding: 20px 49px;
    border-radius: 33px;
    background: var(--c-background-logo);
    max-width: 206px;
    flex-shrink: 0;
    transition: var(--transition);
    &:hover {
      color: var(--c-text-color1);
    }
    &:active {
      color: var(--c-text-active);
    }
  }
  &__block {
    display: flex;
    align-items: center;
    gap: 10px;
  }
  &__icons {
    display: flex;
    align-items: center;
  }
  &__icons-text {
    color: var(--c-text-color2);
    font: var(--Mul-4-16);
    span {
      color: var(--c-text-hover);
    }
  }
  &__play {
    display: block;
    position: absolute;
    right: 75px;
    top: 135px;
  }
}
