.lector {
  margin-top: 105px;
  margin-bottom: 120px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 20px;
  flex-wrap: wrap;

  &-info {
    &__title {
      max-width: 537px;
      color: var(--c-text-color1);
      font: var(--Mon-7-46);
      line-height: 56px;
      margin-bottom: 20px;
    }
    &__desc {
      max-width: 510px;
      color: var(--c-text-color2);
      font: var(--Mul-4-20);
      line-height: 30px;
    }
  }

  &-logo {
    position: relative;
    margin: 11px 40px 17px 22px;

    &::before,
    &::after {
      @include pseudo-element;
      background: var(--c-background-before);
    }
    &::before {
      width: 88px;
      height: 88px;
      left: -21px;
      top: -11px;
    }
    &::after {
      width: 132px;
      height: 132px;
      opacity: 0.3;
      bottom: -17px;
      right: -40px;
    }

    &__container {
      width: 354px;
      height: 354px;
      flex-shrink: 0;
      border-radius: 50%;
      background: var(--c-background-logo);
      filter: var(--c-filter-logo);
      overflow: hidden;
      display: flex;
      align-items: flex-end;
    }
  }
}
