.subscribe {
  margin: 0 -180px;
  padding: 63px 0 50px 0;
  background: var(--c-background-block);

  .subscribe-section {
    display: flex;
    align-items: center;
    gap: 80px;

    &__input {
      display: flex;
      align-items: center;
      justify-content: space-between;
      max-width: 890px;
      width: 100%;
      border-radius: 33px;
      background: var(--c-text-white);
      box-shadow: var(--c-box-shadow1);
      padding: 8px;
      padding-left: 32px;
    }
    &__btn {
      color: var(--c-text-white);
      font: var(--Mul-7-16);
    }
    .btn {
      padding: 15px 30px;
      border-radius: 33px;
      background: var(--c-background-logo);
      transition: var(--transition);
      &:hover {
        color: var(--c-text-color1);
      }
      &:active {
        color: var(--c-text-active);
      }
    }
    input {
      width: 100%;
      background: transparent;
      border: 0;
      outline: 0;
      color: var(--c-text-color2);
      font: var(--Mul-4-16);

      &::placeholder {
        color: var(--c-text-color2);
      }
    }
  }
}
