html,
body {
  height: 100%;
}

body {
  font-family: var(--Montserrat);
  display: grid;
  grid-template-rows: auto 1fr auto;
  background: #fff;
}
.wrapper {
  max-width: 1440px;
  margin-inline: auto;
  position: relative;
}

.container {
  max-width: 1120px;
  margin-inline: auto;
  width: 100%;
}
.main {
  padding: 20px;
}
